$black: #111;
$white: #fff;
$pale: #f8f8f8;
$slackColor: #3f0f40;
$slackDark: #340e36;
$slackBright: #421f44;
$slackBorder: #48274b;
$gray: #808080FF;
$grayLight: #D3D3D3FF;
$green: #008000FF;

$primaryRgba: rgba($gray,0.5);
$opacityRgba: rgba(0,0,0,0.12);
$opacityRgba1: rgba(0,0,0,0.24);
$opacityRgba2: rgba(0,0,0,0);
$opacityRgba3: rgba(0,0,0,0.85);